/* רקע כללי */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
}

/* הקופסה של האפליקציה */
.todo-container {
  width: 420px;
  background-color: #2b2b2b;
  margin-top: 60px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}

/* כותרת */
.todo-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* שורת הוספה */
.add-row {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.add-row input {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #383838;
  color: white;
}

.add-row button {
  padding: 10px 16px;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.add-row button:hover {
  background-color: #43a047;
}

/* משימה */
.todo-item {
  background-color: #3a3a3a;
  padding: 12px 14px;
  border-radius: 10px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.todo-item span {
  flex: 1;
  font-size: 15px;
}

.todo-item button {
  background-color: #d9534f;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.todo-item button:hover {
  background-color: #bf2f2b;
}
